<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AKAI PHP</title>
    <link rel="stylesheet" href="node_modules/bootstrap-css-only/css/bootstrap.min.css">
  </head>
  <body ng-app="PHPFrontend">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">AKAI PHP</a>
        </div>
      </div>
    </nav>

    <div class="container" ng-controller="BaseController">
      <div class="alert alert-info" ng-hide="items.length">Lista jest pusta.</div>

      <table class="table table-striped" ng-show="items.length">
        <thead>
          <tr>
            <th ng-repeat="field in fields" ng-bind="field.label" ng-if="!field.tableHide &amp;&amp; !field.hide"></th>
            <th>Akcje</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in items">
            <td ng-repeat="field in fields" ng-bind="item[field.name]" ng-if="!field.tableHide &amp;&amp; !field.hide"></td>
            <td>
              <button class="btn btn-info" ng-click="editClick(item)">Edytuj</button>
              <button class="btn btn-danger" ng-click="deleteClick(item)">Usuń</button>
            </td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-success" ng-click="createClick()">Dodaj</button>
    </div>

    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <script src="js/fields.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
